.views {
    position: fixed;
    top: calc(6.4 * 10px);
    right: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    overflow: auto;
}

.centerNav {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 15px;
}
