.views {
    position: fixed;
    top: calc(6.4 * 10px);
    right: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    overflow: auto;
    display: flex;
    justify-content: center;

    &.anonymous {
        top: 0;
    }
}
